@font-face {
    font-family: "GT America";
    src: url(font/GT.ttf);
}
@font-face {
    font-family: "DINOT-CondMedium";
    src: url(font/DINOT-CondMedium.otf);
}
@font-face {
    font-family: "DINOT-Regular";
    src: url(font/DINOT-Regular.otf);
}
.header {

    margin: 0;
    border: 0;
    vertical-align: baseline;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-family: "GT America";
    font-size: 14px;
    line-height: 16px;
    width: calc(100vw - 200px);
    background: black;
    position: relative;
    padding: 60px 100px;
    height: 550px;
    
    

}


.logo {
    display: flex;
    z-index: 5;
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 53px;
    
      
}
.gif {
    position: absolute;
    height: 550px;
    right: 30px;
    top: 100px;
    display: flex;
    bottom: 0;
} 


.emptybox {
    height: 100px;
}

.emptybox2 {
    height: 50px;
}
.emptybox3 {
    height: 10px;
    width: 120;
}
.bar {
    position: absolute;
    right: 15px;
    top: 15px;
    font-family: Source Sans Pro,sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    padding: 15px;
    width: 100px;
    height: 260px;
    background: rgb(15, 15, 15);
    border: 1px solid rgb(50, 50, 50);}
    .jss34 {
        height: 8px;
        opacity: 1;
        background: linear-gradient(
    90deg, rgba(72,79,251,1) 0%, rgba(251,104,72,1) 100%);
        border-radius: 4px;
    }
    .para {
        font-size: 1.1em;
        font-family: 'DINOT-CondMedium';
        color: rgb(114, 111, 111);
        position: absolute;
        bottom: 160px;
 }
 .MuiSlider-root {
        color: #3f51b5;
        width: 100%;
        cursor: pointer;
        height: 2px;
        display: inline-block;
        padding: 11px 0;
        position: relative;
        box-sizing: content-box;
        touch-action: none;
        -webkit-tap-highlight-color: transparent;
    }
    .bTCrUG {
            display: flex;
            -webkit-box-pack: justify;
            -webkit-box-align: center;
            align-items: center;
     }
    .pstext {
        position: absolute;
            font-size: 0.9em;
            font-style: italic;
            color: rgb(77, 77, 77);
            bottom: 10px;
     }
#tooltip {
    z-index: 1;
    font-family: 'DINOT-CondMedium';
    font-size: 0.8em;
    position: absolute;
    pointer-events: none;
    color: rgb(255, 255, 255);
    background-color:rgb(22, 21, 41);
    padding: 10px;
    top: 0px;
    left: 0px;
    display: block;
    
}


.boldtext {
    font-family: 'DINOT-CondMedium';
    font-size: 2em;
    position: relative;
    z-index: 5;
    line-height: 1.2;
    width: 400px;
    color: rgba(241, 241, 241, 0.8)}

    .size22{font-size: 17px;
        color: #d9e3dc;
        text-shadow: none;
        cursor: pointer;
        text-decoration:#d9e3dc;}
    #footer{
        padding-bottom: 10px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 30px;
        font-family: 'DINOT-Regular';
        height: 200px;
        width: 100%vmax;
        background-color: rgb(28, 28, 28);
        justify-content: space-between;
        display: flex;
        -webkit-box-pack: justify;
        border: 0px;
        
    }
    #footer .col{
        max-width: 30%;
    }
    #footer ul{
        padding: 0px;
        /*min-height: 200px;*/
    }
    #footer ul>li{
        list-style: none;
        padding-bottom: 12px;
        line-height: 14px;
    }
  
    #footer .copyright{
        font-size: 14px;
        color: #d9e3dc;
        text-shadow: none;
        cursor: pointer;
        text-decoration: #d9e3dc;
        
    }
    #footer .title{
        font-size: 25px;
        color: #d9e3dc;
        margin-bottom: 12px;
        font-family: 'DINOT-CondMedium';
        text-transform: uppercase;
    }
    
    .sns{
        padding-bottom: 50px;	
    }
    .sns>a{
        font-size: 25px;
        margin-right: 24px;
    }
    
    .sns .fa-instagram{
        width: 30px;
        height: 30px;
        display: inline-block;
        position: relative;
        background: url('image/instagram-01.png') no-repeat left top;
        background-size: contain;
        top: 2px;
    }
    .sns .fa-instagram:hover{
        background: url('image/ha-instagram-01.png') no-repeat left top;
        background-size: contain;
    }
    
    .sns .fa-vimeo{
        width: 30px;
        height: 30px;
        display: inline-block;
        position: relative;
        background: url('image/vimeo-v-01.png') no-repeat left top;
        background-size: contain;
        top: 2px;
    }
    .sns .fa-vimeo:hover{
        background: url('image/ha-vimeo-v-01.png') no-repeat left top;
        background-size: contain;
    }

    ::selection {
        background: #6AC65B; /* WebKit/Blink Browsers */
      }
    
    .sns .fa-facebook{
        width: 30px;
        height: 30px;
        display: inline-block;
        position: relative;
        background: url('image/facebook-f-01.png') no-repeat left top;
        background-size: contain;
        top: 2px;
    }
    .sns .fa-facebook:hover{
        background: url('image/ha-facebook-f-01.png') no-repeat left top;
        background-size: contain;
    }
    .footer .right{ 
        -webkit-box-align: center;
        align-items: center;
        width: 250px;
        right:0px;
        top:0px;
        z-index:100;
        position: relative;
        padding-top: 20px;
        

    }
    .footer .left{
        margin: 0;
        padding: 0;
        border: 0;
  
    }
    .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath style='fill:%23333333;' d='m 7,9 c -0.554,0 -1,0.446 -1,1 0,0.554 0.446,1 1,1 l 6,0 c 0.554,0 1,-0.446 1,-1 0,-0.554 -0.446,-1 -1,-1 z'/%3E %3C/svg%3E");
    }
    
    .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath style='fill:%23333333;' d='M 10 6 C 9.446 6 9 6.4459904 9 7 L 9 9 L 7 9 C 6.446 9 6 9.446 6 10 C 6 10.554 6.446 11 7 11 L 9 11 L 9 13 C 9 13.55401 9.446 14 10 14 C 10.554 14 11 13.55401 11 13 L 11 11 L 13 11 C 13.554 11 14 10.554 14 10 C 14 9.446 13.554 9 13 9 L 11 9 L 11 7 C 11 6.4459904 10.554 6 10 6 z'/%3E %3C/svg%3E");
    }
    
    .mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate::before {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%23333'%3E %3Cpath d='M10 4C9 4 9 5 9 5L9 5.1A5 5 0 0 0 5.1 9L5 9C5 9 4 9 4 10 4 11 5 11 5 11L5.1 11A5 5 0 0 0 9 14.9L9 15C9 15 9 16 10 16 11 16 11 15 11 15L11 14.9A5 5 0 0 0 14.9 11L15 11C15 11 16 11 16 10 16 9 15 9 15 9L14.9 9A5 5 0 0 0 11 5.1L11 5C11 5 11 4 10 4zM10 6.5A3.5 3.5 0 0 1 13.5 10 3.5 3.5 0 0 1 10 13.5 3.5 3.5 0 0 1 6.5 10 3.5 3.5 0 0 1 10 6.5zM10 8.3A1.8 1.8 0 0 0 8.3 10 1.8 1.8 0 0 0 10 11.8 1.8 1.8 0 0 0 11.8 10 1.8 1.8 0 0 0 10 8.3z'/%3E %3C/svg%3E");
        content: "";
        display: block;
        width: 100%;
        height: 100%;
    }
    .mapboxgl-ctrl-icon.mapboxgl-ctrl-compass > .mapboxgl-ctrl-compass-arrow {
        width: 20px;
        height: 20px;
        margin: 5px;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpolygon fill='%23333333' points='6,9 10,1 14,9'/%3E %3Cpolygon fill='%23CCCCCC' points='6,11 10,19 14,11 '/%3E %3C/svg%3E");
        background-repeat: no-repeat;
        display: inline-block;
    }

    .buttongroup {
        position: absolute;
        z-index: 100;
        
        bottom: 80px;
        display: inline-flex;
        border-radius: 4px;
        flex-direction: column;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    }
    button.carrying {
        color: #000;
        background: #c5e2b6;
        transition: all .25s;
        min-width: 50px;
        height: 30px;
        position: relative;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
        font-family: 'DINOT-CondMedium';
        font-weight: 500;
        line-height: 1.75;
        border-radius: 4px;
        letter-spacing: 0.02857em;
     
        border: 0;
        cursor: pointer;
        margin: 0;
        display: inline-flex;
        outline: 0;
    }
    button.vacant {
         background: #146734;
         color: #fff;
        transition: all .25s;
        min-width: 50px;
        height: 30px;
        font-family:'DINOT-CondMedium';
        position: relative;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
        line-height: 1.75;
        border-radius: 4px;
        letter-spacing: 0.02857em;
        
        border: 0;
        cursor: pointer;
        margin: 0;
        display: inline-flex;
        outline: 0;
    }